<div id="home-carousel" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">

    <div class="item active"><!-- class of active since it's the first item -->
      <%= image_tag("photos/1.jpg", alt: "", class:'img-thumbnail')  %>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/2.jpg", alt: "", class:'img-thumbnail')  %>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/3.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/4.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/5.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/6.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/7.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/8.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/9.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/10.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/11.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/12.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/13.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/14.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/15.jpg", alt: "", class:'img-thumbnail')  %>
    </div>
    <div class="item"><!-- class of active since it's the first item -->
      <%= image_tag("photos/16.jpg", alt: "", class:'img-thumbnail')  %>
    </div>

  </div><!-- /.carousel-inner -->
    <a class="carousel-control left" href="#home-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left circle"></span>
    </a>
    <a class="carousel-control right" href="#home-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right circle"></span>
    </a>
</div><!-- /.carousel -->
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 3000
    });
  });
</script>
